---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 - page not found">
    <section class="grid place-items-center h-full">
        <h1 class="text-3xl text-center text-primary">
            <span class="text-5xl font-bold leading-loose">404</span><br>
            Stránka nebyla nalezena :-(
        </h1>
    </section>
</MainLayout>