---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Still Momentum | O mně">
    <h1 class="text-5xl font-semibold text-primary text-center lg:text-6xl">O mně</h1>
</MainLayout>