---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Still Momentum | Blog">
    <h1 class="text-5xl font-semibold text-primary text-center lg:text-6xl">Blog</h1>
</MainLayout>
