---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Still Momentum | Kontakt">
    <h1 class="text-5xl font-semibold text-primary text-center lg:text-6xl">Kontakt</h1>
</MainLayout>