---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Still Momentum | Služby a ceník">
    <h1 class="text-5xl font-semibold text-primary text-center lg:text-6xl">Služby &amp; ceník</h1>
</MainLayout>
