---
import Button from "./Button.astro"
import Icon from "./Icon.astro"
---
<section class="flex flex-col justify-between items-center gap-10 mb-24 lg:grid lg:grid-cols-2">
    <div class="order-2 lg:order-none">
        <img src="https://placehold.co/528x575" alt="reference image" loading="lazy" width={528} height={575} class="aspect-[528/575]">
    </div>
    <div class="max-w-[37rem] flex flex-col items-center order-1 lg:order-none lg:items-start">
        <h2 class="text-4xl font-semibold text-primary text-center mb-5 lg:text-left lg:text-5xl">Co je menopauza?</h2>
        <p class="mb-6 text-center md:text-left sm:text-xl">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin pede metus, vulputate nec, fermentum fringilla,
            vehicula vitae, justo. Etiam dictum tincidunt diam. Nullam at arcu a est sollicitudin euismod.</p>
        <ul class="font-manrope mb-10">
            <li class="flex items-center gap-x-4 mb-4">
                <Icon name="icon-spiral"></Icon>
                Pochopení menopauzy je prvním krokem k pohodě.
            </li>
            <li class="flex items-center gap-x-4 mb-4">
                <Icon name="icon-hands"></Icon>
                Získejte podporu a porozumění během této fáze.
            </li>
            <li class="flex items-center gap-x-4 mb-4">
                <Icon name="icon-infinite"></Icon>
                Jsme tu pro vás v každém okamžiku.
            </li>
        </ul>
        <Button href="/services" variant="outline">
            Symptom checker
        </Button>
    </div>
</section>