---
import Button from "./Button.astro";
---

<div
        id="mobile-menu"
        class="mobile-menu translate-x-full"
>
    <nav class="flex flex-col h-full gap-y-8 px-6 pt-24 pb-8">
        <ul class="flex flex-col gap-y-2">
            <li>
                <a href="/services" class="menu-item">Služby &amp; ceník</a>
            </li>
            <li>
                <a href="/about" class="menu-item">O mně</a>
            </li>
            <li>
                <a href="/blog" class="menu-item">Blog</a>
            </li>
            <li>
                <a href="/contact" class="menu-item">Kontakt</a>
            </li>
        </ul>

        <div class="flex flex-col gap-4 w-full pt-8 border-t border-t-neutral-200">
            <Button href="/services" variant="outline" class="btn-full">
                Symptom checker
            </Button>
            <Button href="/contact" variant="default" class="btn-full">
                Úvodní schůzka
            </Button>
        </div>
    </nav>
</div>